<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Reactive.Interfaces" publicKeyToken="94bc3704cddfc263" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1000.0" newVersion="3.0.1000.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<appSettings>
		<add key="api" value="xxxx" />
		<add key="secret" value="xxxx" />
		<add key="genotick_Path" value="C:\Users\ronkj\Documents\Perso\genotick" />
		<add key="genotick_configfileName" value="configfile.txt" />
        <!-- candle period in second-->
		<add key="Poloniex_Candle_Period" value="300" />
        <!-- define the traded pair-->
        <add key="Trading_Pair" value="BTC_BCH" />
		<!-- real life or just for fun-->
		<add key="DryRun" value="false" />
		<!-- minimum amount available required for trading-->
		<add key="Minimum_trade" value="0.0001" />
		<!--Stop loss in percentage of capital 0.9 mean 10% of accepted loss -->
		<add key="StopLoss" value="0.9" />
	</appSettings>
</configuration>