<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly> 
        <assemblyIdentity name="System.Reactive.Interfaces" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1000.0" newVersion="3.0.1000.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<appSettings>
  <add key="api" value="UH0KCFM3-VAU7J5QN-BH1DVIDM-ZAIZQB1B" />
  <add key="secret" value="7c54cc5cfa20ed872484ef90255385a6ce752b2d04c6c01cad5b8b23df44130afe83fd724dab8f211f56b6d64885c2a4cad9a46c1e5380289c1eaf4b2c99444b" />
</appSettings>
</configuration>